@media (orientation: landscape) {
    body {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    #root {
      position: relative;
      width: 50%;
    }
}