:root {
	--notification-background: rgb(14, 14, 14, 0.9);
}

div.notification {
	position: absolute;
	top: 10px;
	left: 2%;
	right: 2%;
	margin: auto;

	width: calc(96% - 8vw);

	display: flex;
	flex-direction: row;
	gap: 20px;

	padding: 2vh 4vw;

	border: 1.5px solid var(--border-color);
	border-radius: 1.2vh;

	box-shadow: 0 0 10px rgba(12, 12, 12, 0.9);

	background: var(--notification-background);

	div.notification-body {

		p.notification-title {
			font-family: var(--font);
			font-weight: 500;
			font-size: 2.2vh;
		}
	
		p.notification-text {
			font-family: var(--font);
			font-size: 1.8vh;
			color: var(--text-700);
		}
	}

	&.success {
		div.icon#notification {
			animation: bell-animation 1s ease-out 0.1s forwards;
		}

		div.notification-body {
			p.notification-title {
				color: var(--accent-1000);
			}
		}
	}

	&.error {
		div.notification-body {
				p.notification-title {
					color: rgb(229, 163, 163);
			}
		}
	}

	&.visible-true {
		transform: translateY(0);
		backdrop-filter: blur(3px);
		transition: all 0.3s ease;
		z-index: 10;
	}

	&.visible-false {
		opacity: 0;
		transform: translateY(-20px);
		transition: all 0.3s ease;
	}
}

@keyframes bell-animation {
	0% {
		transform: rotate(0deg);
	}
	20% {
		transform: rotate(20deg);
	}
	40% {
		transform: rotate(-20deg);
	}
	60% {
		transform: rotate(20deg);
	}
	80% {
		transform: rotate(-20deg);
	}
	100% {
		transform: rotate(0deg);
	}
}