:root {
	--notification-background: rgb(14, 14, 14, 0.9);
}

div.notification {
	position: absolute;
	top: 10px;
	left: 2vw;

	width: calc(100vw - 4vw - 8vw);

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;

	padding: 2vh 4vw;

	border: 1.5px solid var(--border-color);
	border-radius: 1.2vh;

	box-shadow: 0 0 10px rgba(12, 12, 12, 0.9);

	background: var(--notification-background);

	&.visible-true {
		transform: translateY(0);
		backdrop-filter: blur(3px);
		transition: all 0.3s ease;
		z-index: 10;
	}

	&.visible-false {
		opacity: 0;
		transform: translateY(-20px);
		transition: all 0.3s ease;
	}
}