:root {
	--cell-device-title-color: var(--text-1000);
	--cell-device-description-color: var(--text-500);
	--cell-device-text-color: var(--text-1000);
}

div.cell-device {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 5px;
	flex: 1;

	padding: calc(var(--cell-vertical-padding) * 1.4) var(--cell-horizontal-padding);

	border-radius: var(--cell-radius);

	background-color: var(--background-900);

	p.device-headline {
		font-family: var(--font);
		font-size: 2.4vh;
		color: var(--cell-device-title-color);
	}

	p.device-description {
		margin-bottom: 4px;

		font-family: var(--font);
		font-size: 1.8vh;
		color: var(--cell-device-description-color);
	}

	div.device-attribute {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 6px;

		p.device-attribute__text {
			font-family: var(--font);
			font-size: 1.6vh;
			color: var(--cell-device-text-color);
		}

		&#price {
			&.available-true {
				filter: brightness(0) saturate(100%) invert(93%) sepia(9%) saturate(696%) hue-rotate(54deg) brightness(88%) contrast(85%);
			}
			&.available-false {
				filter: brightness(0) saturate(100%) invert(76%) sepia(15%) saturate(674%) hue-rotate(309deg) brightness(93%) contrast(83%);
			}
		}
	}
}

div.device__button-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-self: stretch;
}