div.icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	img.icon__image {

		&.white {
			filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(84deg) brightness(106%) contrast(101%);
		}
		&.gray {
			filter: brightness(0) saturate(100%) invert(45%) sepia(0%) saturate(0%) hue-rotate(349deg) brightness(98%) contrast(92%);
		}
		&.black {
			filter: brightness(0) saturate(100%) invert(0%) sepia(2%) saturate(26%) hue-rotate(315deg) brightness(101%) contrast(100%);
		}
		&.accent {
			filter: brightness(0) saturate(100%) invert(91%) sepia(22%) saturate(259%) hue-rotate(53deg) brightness(84%) contrast(94%);
		}
	}
}