div.step-by-step {
	position: relative;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;

	background: rgb(14,14,14);
	background: linear-gradient(0deg, rgba(14,14,14,1) 0%, rgba(183,207,174,1) 50%, rgba(14,14,14,1) 100%);

	&.hide-steps {
		animation: hide-steps 1s ease forwards;
	}

	div.steps-indicators {
		position: absolute;
		width: 60%;
		z-index: 1000;

		bottom: 14vh;
		left: 20%;
		
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		align-self: stretch;
		gap: 10px;

		div.indicator {
			height: 4px;

			flex: 1;

			border-radius: 20px;

			background-color: rgb(82, 82, 82);

			&.active-indicator {
				background-color: var(--accent-1000);
			}
		}
	}

	button.next-step {
		position: absolute;

		bottom: 5vh;
		left: 10%;

		width: 80%;

		padding: 2vh 0;

		border-radius: 14px;
		box-shadow: var(--background-1000) 0 0 100px 80px;

		font-family: var(--font);
		font-size: 2.4vh;
		color: var(--action-white-children);

		background-color: var(--action-white);

		&.finish-animation {
			animation: finish-animation 2s ease;
		}
	}
}

@keyframes hide-steps {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}