div.all-users-rating {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	flex-grow: 1;
	gap: 6px;

	overflow-y: scroll;
	&::-webkit-scrollbar {
		display: none; /* Для Chrome, Safari и Opera */
	}
}