div.image-box {
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
}

img.image {
	position: absolute;
	width: 100%;
	height: 100%;

	display: block;

	object-fit: cover;
	border-radius: inherit;
}