div.profile-action-cell {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	padding: var(--cell-vertical-padding) var(--cell-horizontal-padding);

	border-radius: var(--cell-radius);

	background-color: var(--background-900);

	div.pac__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 3px;
		flex-grow: 1;

		font-family: var(--font);

		p.pac__information__title {
			font-size: 2vh;
			color: var(--cell-title-color);
		}
		p.pac__information__description {
			font-size: 1.5vh;
			color: var(--cell-description-color);
		}
	}

	div.pac__icon {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-end;
		align-self: stretch;
	}
}